.root {
  .sub__department {
    font-size: 1.8rem;
    font-weight: 700;
    padding: 30px 0;
    color: rgb(85, 85, 85);
    @media (max-width: 1024px) {
      font-size: 1.3rem;
    }
  }
  .categori__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    & .category__item {
      width: 24%;
      @media (max-width: 767px) {
        width: 49%;
      }
    }
  }
}
