@use '../../../apps/styles/common/var';

.root {
  margin: 25px 0;
  padding: 30px 20px;
  box-shadow: var.$box-shadow;
  border-radius: 20px;
  
  & .header {
    display: flex;
    justify-content: space-between;
    
    & .title {
      font-weight: 700;
      font-size: 1.7rem;
      margin-bottom: 25px;
      color: var.$color-black;
    }
  }

  & .content {

  }


}