.root {
  padding-top: 20px;
  padding-bottom: 30px;

  & .nav__container {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    & .nav__item {
      font-size: 0.83rem;
      margin-right: 10px;
      color: rgb(150, 150, 150);
      font-weight: 500;
      border-bottom: 1px solid rgba(87, 87, 87, 0);
      &::after {
        position: relative;
        left: 5px;
        content: "/";
      }
      &:hover {
        cursor: pointer;
        border-bottom: 1px solid rgb(87, 87, 87);
        color: rgb(60, 60, 60);
      }
    }
    & p {
      color: rgb(150, 150, 150);
      font-weight: 500;
      
    }
  }

  & .title__container {
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px 0;
    & .title {
      color: rgb(41, 41, 41);
      font-size: 1.3rem;
      font-weight: 700;
    }

    & small {
      color: rgb(138, 138, 138);
      font-size: 0.8rem;
      position: relative;
      top: 3px;
      left: 25px;
    }
  }

  & .nav__links {
    display: flex;
    flex-wrap: wrap;

    & .link {
      background-color: rgba(217, 223, 225, 0.626);
      font-size: 1em;
      margin-right: 10px;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      
      & .link__name {
        color: black;

      }
    }
  }
   
  }

