.root {
  display: flex;
  
  @media (max-width: 1200px) {
    height: 100%; 
  }
  
  & .content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    background-color: rgba(217, 217, 217, 0.738);
    min-height: 100vh;

    
   & main {
      flex: 1 0 auto;
    }

  }
}
