@use '../../../../apps/styles/common/var';

.root {
  padding: 25px 0;

  & .sceleton__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, (rgba(225, 223, 223, 0.512),rgba(200, 198, 198, 0.512)));
    margin-bottom: var.$spasing-small;
    border: 1px solid rgba(135, 135, 135, 0.383);
    border-radius: var.$spasing-medium;
    width: 100%;
    height: 90px;

    & .loading {
      height: 60px;
      width: 60px;
      border-radius: var.$border-radius-circle;
      border: 4px dotted rgb(96, 96, 96);
      animation-name:rotate;
      animation-iteration-count: infinite;
      animation-duration: 30s;
    }

  }
 
}

@keyframes rotate {
  0% {
    rotate: (0deg);
  }
  100% {
    rotate: (3600deg);
  }
  
}
