 .category__item {
  cursor: pointer;
  padding: 6px 10px;
  min-width: 240px;

   border-radius: 10px;
 
display: flex;
align-items: center;

& p {
  font-size: 1.3rem;
}
& img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}


}

.category__item_active {
  cursor: pointer;
  padding: 6px 10px;
  min-width: 240px;
color: white;
   background-color: rgba(199, 41, 188, 0.902);
   border-radius: 10px;
 
display: flex;
align-items: center;

& p {
  font-size: 1.3rem;
}
& img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}


}