 .category__item {
  cursor: pointer;
  padding: 6px 10px;
  min-width: 240px;

   border-radius: 10px;
 
display: flex;
align-items: center;

& p {
  font-size: 1.3rem;
}
& img {
  margin-right: 10px;
}


}

