@use '../../../../apps/styles/common/var';

.root {
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 6;
  height: 100vh;
  overflow-y: hidden;
  padding-right: 15px;
  

  & .header {
display: flex;
align-items: center;
justify-content: space-between;
padding:  15px ;
position: relative;
    & .header__input {
       background-color: rgba(197, 209, 210, 0.398);
       border-radius: 20px;
       width: 93%;
       font-size: 1.1rem;
       padding: 20px;
       height: 20px;
       padding-right: 80px;
    }

    & .header__cancel_input {
      position: absolute;
      top: 25px;
      right: 90px;
      scale: 1.3;
    }

    & .header__close_btn {
      background-color: rgba(255, 255, 255, 0);
      color: var.$color-shop-button;
      font-weight: 600;
    }

  }

  & .search__container {
    padding: 15px;
    overflow: scroll;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }



    & .search__item {
      padding: 5px 15px ;
      transition: all 0.2s ease;
      color: var.$color-black-hover;
      font-size: 1.1rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: space-between;
      line-height: 20px;
      &:hover {
        background-color: rgba(232, 232, 232, 0.435);
        border-radius: 10px;
        cursor: pointer;
      }

      & p {
        
      }
      & img {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        margin-left: 10px;
      }





    }

  }


}