.header {
  padding: 25px 0;
  padding-bottom: 15px;

  & .header__navigation {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    & small {
      color: rgb(121, 121, 121);
      font-size: 1rem;
      margin-left: 5px;
      cursor: pointer;
    }

    & p {
      color: rgb(121, 121, 121);
      font-size: 1rem;
      cursor: pointer;
    }
  }

  & h1 {
    font-size: 2rem;
    font-weight: 700;
    @media (max-width: 1024px) {
      font-size: 1.3rem;
      
    }
  }
}

.main__container {
  display: flex;

  & .categori__container {
    min-width: 272px;

    @media (max-width: 1025px) {
      display: none; 
    }

    & h2 {
      font-size: 1.2rem;
      font-weight: 700;
      margin-bottom: 10px;
    }
    & h3 {
      margin-bottom: 10px;
      position: relative;
      top: 0;
      left: -10px;
      font-size: 1.1rem;
      font-weight: 600;
      color: white;
      padding: 7px 0 7px 10px;
      background-color: rgb(203, 19, 169);
      border-radius: 10px;
    }

    & .nav__item {
      color: rgb(150, 150, 150);
      font-size: 1.1rem;
      margin-bottom: 18px;
      &:hover {
        cursor: pointer;
        color: black;
      }
    }
  }

  & .categori__container_mobile {
    display: flex;
    flex-wrap: wrap;
    @media (min-width: 1025px) {
      display: none; 
    }
    & .nav__item_mobile {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 10px;
      background-color: rgb(238, 238, 238);
      border-radius: 5px;
      padding: 10px;
      color: black;
      &:hover {
        cursor: pointer;
      }
    }
  }

  & .content {
    width: 90vw;
    width: 100%;
    
    @media (max-width: 1205px) {
      width: 76%; 
    }
    @media (max-width: 1105px) {
      width: 75%; 
    }
    @media (max-width: 1051px) {
      width: 73%; 
    }
    @media (max-width: 1025px) {
      width: 100%; 
    }
    

    & .category__container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 20px;
      text-align: center;
     

      & .category__item {
        width: 31%;
        height: 15vw;
        margin-bottom: 20px;
        border-radius: 20px;
        cursor: pointer;
        @media (max-width: 767px) {
          width: 48%;
          margin-bottom: 100px;
        }
      }
    }
  }
}
