

.size__container {
  cursor: pointer;
  position: relative;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1023px) {
    justify-content: flex-start;
    left: 20px;
    top:10px;
    align-items: center;
  }


  & .size__big_card {
    cursor: pointer;
    & .size__big_itemActive {
      border: 2px solid black;
      position: relative;
      width: 10px;
      height: 10px;
      border-radius: 3px;
      margin-bottom: 1px;
      &::after {
        content: "";
        border: 2px solid black;
        position: absolute;
        top: -2px;
        right: 9px;
        width: 10px;
        height: 10px;
        border-radius: 3px;
      }
    }
    & .size__big_item {
      cursor: pointer;
      position: relative;
      width: 10px;
      height: 10px;
      border: 2px solid rgba(0, 0, 0, 0.362);
      border-radius: 3px;
      margin-bottom: 1px;
      &::after {
        content: "";
        position: absolute;
        top: -2px;
        right: 9px;
        width: 10px;
        height: 10px;
        border: 2px solid rgba(0, 0, 0, 0.362);
        border-radius: 3px;
      }
    }
  }
  & .size__small_card {
    cursor: pointer;
    margin-left: 10px;
    width: 10px;
   
    & .size__small_itemActive {
      position: relative;
      width: 7px;
      height: 7px;
      border: 2px solid rgb(0, 0, 0);
      border-radius: 2px;
      margin-bottom: 1px;
      &::after {
        content: "";
        position: absolute;
        top: -2px;
        right: -10px;
        width: 7px;
        height: 7px;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 2px;
        margin-bottom: 1px;
      }
      &::before {
        content: "";
        position: absolute;
        top: -2px;
        right: -18px;
        width: 7px;
        height: 7px;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 2px;
        margin-bottom: 1px;
      }
    }
    & .size__small_item {
      cursor: pointer;
      position: relative;
      width: 7px;
      height: 7px;
      border: 2px solid rgba(0, 0, 0, 0.362);
      border-radius: 2px;
      margin-bottom: 1px;
      &::after {
        content: "";
        position: absolute;
        top: -2px;
        right: -10px;
        width: 7px;
        height: 7px;
        border: 2px solid rgba(0, 0, 0, 0.362);
        border-radius: 2px;
        margin-bottom: 1px;
      }
      &::before {
        content: "";
        position: absolute;
        top: -2px;
        right: -18px;
        width: 7px;
        height: 7px;
        border: 2px solid rgba(0, 0, 0, 0.362);
        border-radius: 2px;
        margin-bottom: 1px;
      }
    }
  }
}



 .size__container_mobile {
  position: relative;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1023px) {
    justify-content: flex-start;
    left: 20px;
    top:10px;
    align-items: center;
  }


  & .size__big_card {
    cursor: pointer;
    & .size__big_itemActive {

      border: 2px solid black;
      position: relative;
      width: 10px;
      height: 10px;
      border-radius: 3px;
      margin-bottom: 1px;
      &::after {
        content: "";
        border: 2px solid black;
        position: absolute;
        top: -2px;
        right: 9px;
        width: 10px;
        height: 10px;
        border-radius: 3px;
      }
    }
  }

  & .desctop {
    cursor: pointer;
    position: relative;
    width: 25px;
    height: 20px;
    border: 2px solid black;
    border-radius: 4px;
    left: -12px;
    &::before {
      content: '';
      position: absolute;
      top: 20px;
      left: -1px;
      width: 18px;
      height: 2px;
      background-color: black;
    }
  }



}