.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  border-radius: 15px;
  padding: 10px;


  &:hover {
    background-color: rgba(204, 204, 204, 0.165);
  }

  & .imag {
    position: absolute;
    top: 23px;
    left: 15px;
  }

  & p {
    padding-left: 40px;
    font-size: 1.2rem;
    color: rgb(93, 93, 93);
  }
  & img {
    border-radius: 10px;
  }
}
