@use "../../../../apps/styles/common/var";

.root {
  padding: 20px 0;
  background-color: var.$color-white;
  border-radius: 15px;

  & .figure__container {
    padding-left: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    & .user__image {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;
      
    }
    & .figcaption {
      font-size: 1.4rem;
      font-weight: 600;
      color: var.$color-black-hover;
      margin-left: 40px;
    }
  }

  & .card__footer {
    display: flex;
    align-items: center;

    & .card__footer_email {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-left: 50px;
      padding: 10px 0;

      & label {
        color: var.$color-secondary;
        font-size: 1.1rem;
        margin-bottom: 15px;
      }

      & input {
        font-size: 1.2rem;
        height: 24px;
      }
      & p {
        font-size: 1.2rem;
      }
    }
  }
}
