

.root {
  width: 100%;
  margin: 0 52px 0 30px;

  @media (max-width: 1200px) {
  
    width: 90%;
    position: absolute;
    top: 90px;
  }



  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}