$light: #f9fafb;
$white: #fff;
$color-white: #fff;
$c80: #808080;
$ccb: #cbcccd;
$color-card-bg: #ECE9E6;
$red-light: #e75555;
$header-color: #fbcd08;
$color-text-logo: #761719;
$color-dark-grey: #a1a1a1;
$color-error-light: #f25b6b;
$color-error-dark: #d65c5c;
$color-blue: #3199dc;
$color-blue-black: #02609f;
$color-green: #198754;
$color-green-hover: #13653f;
$color-green-black: rgb(5, 80, 5);
$color-green-light: rgb(79, 220, 79);
$color-red: #dc3545;
$color-red-hover: #a52834;
$color-red-black: #5c0e0e;
$color-red-light: #e15a5a;
$color-red-hover-light: #db0b0b;
$color-white-red: #ab5959;
$color-primary: #0d6efd;
$color-primary-hover: #0a53be;
$color-primary-opasiti: #0d6dfd78;
$color-orange: rgb(255, 166, 0);
$color-orange-hover: rgb(219, 148, 17);
$color-orange-light: rgb(153, 101, 5);
$color-orange-dark: rgb(92, 89, 33);
$color-orange-black: rgb(241, 190, 95);
$color-header-bg-dark: #25252bfa;
$color-input-search: #464646;
$color-secondary: #6c757d;
$color-secondary-hover: #51585e;
$color-yellow: #ffc107;
$color-yellow-hover: #ffcd39;
$color-black: #212529;
$color-black-hover: #373b3e;
$color-info: #0dcaf0;
$color-info-hover: #29aec8;
$color-info-hover-black: #21a0ba;
$color-info-nobg: #0dcaf000;
$color-info-nobg-hover: #0dcaf015;
$color-gold-text:rgb(139, 120, 105);
$color-shop-button:#cb11ab;
$color-shop-button-active:#da17b9;
