

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-image: linear-gradient(to top, (rgb(255, 254, 254), rgb(207, 207, 207)));
  border-bottom: 3px solid rgb(188, 188, 188);


}
