@use '../../../../apps/styles/common/var';

.root {

  & .header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 0;

   & .header__info {
    display: flex;
    align-items: center;
    & p {
      color: gray;
      font-size: 1.2rem;
      margin-left: 15px;
    }

   }

   & .list__container {
    display: flex;
    align-items: center;
    &:hover {
      cursor: pointer;
      & .header__button {
        color: var.$color-shop-button;
      }
      & .square {
        border: 2px solid var.$color-shop-button;
      }
      & .list__line {
        background-color: var.$color-shop-button;
        &::before {
          background-color: var.$color-shop-button;
        }
        &::after {
          background-color: var.$color-shop-button;
        }
      }
    }
    & .square {
      width: 20px;
      height: 20px;
      border: 2px solid var.$color-black-hover;
      border-radius: 5px;

    }
     & .list__line {
      position: relative;
      top: 0px;
      left: -15px;
      width: 10px;
      height: 2px;
      background-color: var.$color-black-hover;
      &::before {
        content: '';
        position: absolute;
        top: 4px;
        left: 0px;
        width: 10px;
      height: 2px;
      background-color: var.$color-black-hover;
      }
      &::after {
        content: '';
        position: absolute;
        top: -4px;
        left: 0px;
        width: 10px;
      height: 2px;
      background-color: var.$color-black-hover;
      }
     }
     
     & .header__button {
       background-color: rgba(255, 255, 255, 0);
       font-size: 1.2rem;
       color: var.$color-black-hover;
       font-weight: 600;
      }
    }
 }



  
}