@use '../../../../apps/styles/common/var';

.root {
display: flex;
align-items: center;
justify-content: center;
padding-top: 60px;
@media (max-width: 1024px) {
  padding-top: 20px;
  
}

& .form__container {
  background-color: var.$color-white;
  border-radius: 15px;
  padding: 30px;
  box-shadow: var.$box-shadow;
  @media (max-width: 1024px) {
    box-shadow: none;
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
      font-size: 1.3rem; 
  }

  & .form__title {
    font-size: 1.6rem;
    font-weight: 700;
    color: var.$color-black;
    @media (max-width: 1024px) {
      font-size: 1.3rem; 
    }
    margin-bottom: 30px;
  }
 
 & .footer__container {
display: flex;
align-items: center;
 & .footer__bird {
  width: 15px;
  height: 2px;
  background-color: var.$color-shop-button;
  rotate: (-45deg);
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -2px;
    width: 6px;
  height: 2px;
  background-color: var.$color-shop-button;
  rotate: (-85deg);
  }
 }
 & .footer__text {
  padding-left: 15px;
  width: 330px;
  line-height: 20px;
  & span {
    color: rgb(150, 150, 150);
  }
 }

 }
  

  
}
}