.root {
  width: 200px;
  border-radius: 20px;
  padding: 2px;
  & .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    text-align: center;
    font-size: 30px;
    // text-shadow: 0px 1px 2px;
    rotate: (-3deg);
    border-radius: 30px;
    padding-bottom: 10px;
    position: relative;
    &::after {
      content: "";
      border: 2px solid rgb(0, 251, 192);
      border-top: none;
      // border-left: none;
      position: absolute;
      top: 20px;
      left: -7px;
      border-radius: 50%;
      width: 220px;
      height: 30px;
      overflow: hidden;
    }

    & .nameLogo {
      color: rgb(255, 255, 255);
      text-transform: uppercase;
    }
  }
}
