$ff-montserrat-bold: 'Montserrat';
$ff-montserrat-regular: 'Montserrat-regular';

$ff-BebasNeue-Regular: 'BebasNeue-Regular';

$ff-Gilroy-Bold: 'Gilroy-Bold';
$ff-Gilroy-Heavy: 'Gilroy-Heavy';
$ff-Gilroy-Light: 'Gilroy-Light';
$ff-Gilroy-Medium: 'Gilroy-Medium';
$ff-Gilroy-Regular: 'Gilroy-Regular';




// thin 100
// light 300
// regular 400
// medium 500
// bold 700
// black 900
