.root {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1200px) {
    flex-direction: column;
  }

  & h2 {
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    text-align: center;
    padding: 5px 5px 25px 5px;
    color: rgb(78, 78, 78);
    padding-top: 25px;
  }

  & .basic__info {
    width: 40%;

    @media (max-width: 1200px) {
      width: 100%;
    }

    & .count {
      display: flex;
      justify-content: space-between;

      & .count__item {
        max-width: 150px;
      }
    }

    & .images__container {
      display: flex;
      padding: 20px 0;
      & .images__item {
        border-radius: 10px;
        width: auto;
        height: auto;
        margin-right: 20px;
      }

      & .img {
        border-radius: 10px;
        width: auto;
        height: auto;
      }
    }
  }

  & .additation_info {
    width: 40%;
    position: relative;
    top: -50px;
    max-height: 720px;

    @media (max-width: 1200px) {
      width: 100%;
      position: relative;
      top: 0px;
      max-height: none;
    }
  }
}
