@use '../../../../apps/styles/common/var';

.root {
  position: relative;
  @media (min-width: 1024px) {
    display: none;
   }
  & .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    
    & .logo {
      font-weight: 400;
      color: var.$color-white;
      font-size: 1.7em;
      cursor: pointer;
  }

  & .search__icon_container {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -2px;
    right: -4px;
    background-color: rgba(255, 255, 255, 0);
    & .search__icon {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 2px solid white;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 13px;
        left: 9px;
        width: 10px;
        height: 2px;
        background-color: white;
        rotate: (45deg);
      }
    }
  }
}


  
  
}