@use '../../../../apps/styles/common/var';

.root {
  display: flex;
  @media (max-width: 400px) {
    display: block;
    }

  & .product__info_container {
    display: flex;
    width: 55%;
    padding: 10px 0;
    margin-right: 10px;
    @media (max-width: 400px) {
      width: 100%;
      }
    & .product__info_img {
      width: 96px;
      height: 128px;
      border-radius: 10px;
      margin-right: 15px;
      @media (max-width: 1023px) {
        width: 80px;
        height: 106px;
      }
    
    }
    

    & .product__description_container {
      @media (max-width: 400px) {
        width: 100%;
        }
        & .product__info_description {
          font-size: 1.1em;
          font-weight: 600;
          line-height: 20px;
          color: var.$color-black-hover;
          margin-bottom: 10px;
          @media (max-width: 1023px) {
            font-size: 0.9em;
          }
          @media (max-width: 400px) {
            margin-left: 20px;
            width: 100%;
            }
      }
      
      & .product__info_color {
        font-size: 1.1em;
        color: rgb(98, 98, 98);
        @media (max-width: 400px) {
          margin-left: 20px;
          width: 100%;
          }
      }
    }
  }

  & .product__button_container {
    width: 43%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;


    & .product__buttons {
      display: flex;
      @media (max-width: 400px) {
      left: 0px;
      }

      & .product__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 8px;
        font-size: 1.8rem;
        font-weight: 600;
        background-color: rgb(238, 238, 238);
        @media (max-width: 1023px) {
          width: 26px;
        height: 26px;
        }
       
      }
      & .product__btn_white {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 8px;
        font-size: 1.8rem;
        font-weight: 600;
        color: var.$color-dark-grey;
        background-color: rgb(238, 238, 238);
        @media (max-width: 1023px) {
          width: 26px;
        height: 26px;
        }

      }
      & span {
        margin: 8px 15px;
        font-size: 1.1rem;
        color: var.$color-black-hover;
        @media (max-width: 1023px) {
          margin: 5px 15px;
        }
      }
    } 


    & .product__prices {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @media (max-width: 400px) {
        display: flex;
        }
        & .product__price {
          font-size: 1.3rem;
          font-weight: 700;
          color: var.$color-black-hover;
          margin-bottom: 10px;
          @media (max-width: 1023px) {
            font-size: 1.1em;
          }
          @media (max-width: 400px) {
            display: flex;
            position: relative;
            top: 5px;
            }
      } 
      & .product__old_price {
        font-size: 1rem;
        color: var.$color-secondary;
        text-decoration: line-through;
        @media (max-width: 400px) {
          display: none;
          }
      } 

      & .product__footer_btn {
        position: relative;
        top: 35px;
        display: flex;
        justify-content: space-between;
       
        @media (max-width: 400px) {
          position: relative;
          right: -100px;
          top: -25px;
          }
        
        & .product__footer_heart {
width: 24px;
margin-right: 25px;
        }
      }

    } 

  }

}