.root {
  background-color: #410e6b;
  & .footer__container {

    padding: 68px 0 47px 0;
    
    width: 75%;
    margin: 0 auto;
    @media (max-width: 1500px) {
      width: 95%;
    }
    
    
  }
}
