$card-grid: repeat(6, 3fr); 
$card-rows: minmax(200px, auto) minmax(24px,50px) minmax(70px, auto)  2rem;
$card-rows-post: minmax(100px, auto) minmax(24px,50px) minmax(70px, auto)  1rem;
$card-grid-post: repeat(8, 1fr); 
