.swiper {
  padding: 30px 0;
}



.sub__department {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 30px 0;
  color: rgb(85, 85, 85);
  @media (max-width: 1024px) {
    font-size: 1.3rem;
  }
}


