.root {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;

  @media (max-width: 1025px) {
    width: 100vw;
  }

  & .btn__array {
    width: 20px;
    height: 3px;
    background-color: rgb(108, 108, 108);
    border-radius: 20px;

    &::before {
      content: "";
      position: absolute;
      top: 15px;
      left: 7px;
      width: 12px;
      height: 3px;
      background-color: rgb(108, 108, 108);
      border-radius: 20px;
      rotate: (-35deg);
    }
    &::after {
      content: "";
      position: absolute;
      top: 21px;
      left: 7px;
      width: 12px;
      height: 3px;
      background-color: rgb(108, 108, 108);
      border-radius: 20px;
      rotate: (35deg);
    }
  }

  & .btn__prev {
    padding: 18px 10px;
    border-radius: 50%;
    position: relative;
    top: 0;
    left: 50px;
    background-color: rgba(227, 227, 227, 0.777);

    @media (max-width: 1025px) {
      display: none;
    }
  }

  & .btn__next {
    padding: 18px 10px;
    border-radius: 50%;
    position: relative;
    top: 0;
    left: -50px;
    background-color: rgba(227, 227, 227, 0.777);
    rotate: (180deg);

    @media (max-width: 1025px) {
      display: none;
    }
  }

  .img__container {
    width: auto;
    text-align: center;
    cursor: pointer;
    & img {
      width: 80vw;
      border-radius: 20px;
      height: 25vw;

      @media (max-width: 1025px) {
        position: relative;
        left: -20px;
        width: 90vw;
        height: 55vw;
      }
    }

    & figcaption {
      position: relative;
      top: -23px;
      display: inline-block;
      background-color: rgb(250, 37, 37);
      padding: 10px;
      border-radius: 15px;

      & .name__item {
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-size: 1.8vw;
      }
    }
  }
}
