@use '../../../../apps/styles/common/var';

.root {


 & .notification {
   font-size: var.$font-size-card-text;
   font-weight: 600;
   line-height: 25px;
 
   & span {
    color: var.$color-shop-button;
    cursor: pointer;
  }
 }

 & .last__cards_container {
  @media (min-width: 1290px) {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    & .last__card {
      width: 49%;
    }
  }

  & .user__data {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    line-height: 25px;
    @media (max-width: 490px) {
        display: block;
    }
    & .user__name {
    }
    & .user__phone {
      
    }
    & span {
      font-size: 1rem;
      color: var.$color-secondary;
      margin-right: 10px;

    }
    & .update__user {
      color: var.$color-shop-button;
      font-size: 1rem;
    }
  }
 }

 



  
}